.app-footer {
    background-color: transparent;
    color: #1e293b;
    padding: 30px 0;
    text-align: center;
    margin-top: auto;
    border-top: none;
    font-size: 0.9rem;
    font-weight: 600;
}