<div class="dashboard-container ds-style-4abf96d6" >
    <!-- Tab Navigation -->
    <nav class="tabs-container no-print ds-style-8a08d99f" >
      <ul class="tabs-list ds-style-35d35f28" >
        <li [class.active]="activeTab === 'staff'" (click)="setTab('staff')" class="admin-tab ds-style-e9e32f30">👥 Staff Management</li>
        <li [class.active]="activeTab === 'archive'" (click)="setTab('archive')" class="admin-tab ds-style-e9e32f30">🗑️ Trash / Archive</li>
        <li [class.active]="activeTab === 'audit'" (click)="setTab('audit')" class="admin-tab ds-style-e9e32f30">📊 Audit Logs</li>
      </ul>
    </nav>

    <!-- Main Content -->
    <div  class="ds-style-d0aaa224">
        <div  class="ds-style-a46c2e6a">
            @if (activeTab === 'staff') {
              <app-staff-manager></app-staff-manager>
            }
            @if (activeTab === 'archive') {
              <app-archive-manager [activeTab]="activeTab"></app-archive-manager>
            }
            @if (activeTab === 'audit') {
              <app-audit-log-viewer></app-audit-log-viewer>
            }
        </div>
    </div>
</div>
